<!DOCTYPE html>
<html lang="en" ng-app="keopsApp">
<head>
    <title>Keops</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}keops/css/app.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}keops/css/animations.css">
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular.js"></script>
    <script src="{{ STATIC_URL }}js/angular-route.js"></script>
    <script src="{{ STATIC_URL }}js/angular-animate.min.js"></script>
    <script src="{{ STATIC_URL }}js/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/ng-infinite-scroll.min.js"></script>
    <script src="{{ STATIC_URL }}keops/js/components.js"></script>
    <script src="{{ STATIC_URL }}keops/js/app.js"></script>
</head>
<body>
    <div id="keops-app">
        <table id="keops-app-table">
            <tr>
                <td colspan="2" id="keops-app-header">
                    <img src="{{ STATIC_URL }}keops/images/logo.png" id="keops-app-logo">
                    <div id="keops-app-site-name">
                        <span class="keops-site-name">{{ site_name }}</span>
                        <span style="position: absolute; right: 20px;">My account | <a href="/accounts/logout">Logout</a></span>
                    </div>
                    <div id="keops-app-menu">
                        <ul>
                            {% for m in app_menu %}
                            <il><a href='../{{ m.pk }}'>{{ m.name }}</a></il>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="keops-app-left-menu">
                    <h4><span>{{ menu.name|upper }}</span></h4>
                    <ul>
                        {% for m in menu.menu_set.all %}
                        <il>{{ m.name }}</il>
                            {% for sm in m.menu_set.all %}
                            <a href="#{{ sm.get_absolute_url }}">{{ sm.name }}</a>
                                {% for sm2 in sm.menu_set.all %}
                                <a class="menu-level-3" href="#{{ sm2.get_absolute_url }}">{{ sm2.name }}</a>
                                    {% for sm3 in sm2.menu_set.all %}
                                    <a class="menu-level-4" href="#{{ sm3.get_absolute_url }}">{{ sm3.name }}</a>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div ng-view></div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>