html {
    height: 100%;
}

body {
    height: 100%;
    overflow-y: scroll;
    padding: 0;
    font-size: 12px;
}

legend {
    font-size: 15px;
}

a:hover {
    text-decoration: none;
}

.navbar {
    border-radius: 0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    border-bottom: 1px solid #bfbfbf;
}

.form-help-text {
    font-size: 8pt;
    min-height: 20px;
    color: #4a4a4a;
    vertical-align: text-bottom;
    margin-top: 5px;
}

.tab-pane {
    margin-top: 20px;
}

.form-control {
    font-size: 12px;
}

#keops-app {
    height: 100%;
    padding: 0;
    margin: 0;
}

#keops-app-site-name {
    height: 25px;
	padding: 5px 10px 0px 80px;
	text-shadow: none;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica;
}

#keops-app-logo {
    position: absolute;
    left: 2px;
    max-height: 50px;
    z-index: 9999;
}

#keops-app-menu {
	padding: 0 0 0 80px;
    border-top: solid 1px rgb(202, 202, 202);
    border-bottom: solid 1px rgb(202, 202, 202);
    color: #555;
	background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
    height: 38px;
}

#keops-app-menu ul {
	float: left;
	margin: 0;
	padding: 0;
	border-right: #F7F7F7 solid 1px;
	border-left: #D0D0D0 solid 1px;
	height: 39px;
	line-height: 39px;
}

.keops-site-name {
    font-size: 11px;
    position: absolute;
    right: 20px;
    top: 2px;
    z-index: 99;
}

#keops-app-table {
    padding: 0;
    width: 100%;
    height: 100%;
}

#keops-app-table td {
    text-align: left;
    vertical-align: top;
}

#keops-app-left-menu {
    width: 220px;
	box-shadow: 0 3px 0 rgba(255, 255, 255, 0.40), 0 0 5px rgba(1, 1, 1, 0.10);
    border-right: 1px solid #bfbfbf;
    background-color: rgb(252, 252, 252);
}

#keops-app-left-menu li {
    background: transparent;
}

#keops-app-left-menu a {
    cursor: pointer;
}

#keops-app-left-menu .menu-level-1 {
    padding-left: 8px;
}

#keops-app-left-menu .menu-level-2 {
    padding-left: 12px;
}

#keops-app-left-menu a:hover {
  background-color: #d9d9d9;
  text-decoration: none;
}

#keops-app-left-menu .menu-level-3 {
    padding-left: 20px;
}

#keops-app-left-menu .menu-level-4 {
    padding-left: 45px;
}

#keops-app-left-menu .menu-level-5 {
    padding-left: 55px;
}

#keops-app .form-head {
    width: 100%;
    background-color: rgb(252, 252, 252);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #bebdbd;

    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;

    padding: 5px 10px 5px 10px;
}

.form-head .form-title span a {
}

#keops-app .data-grid {
    width: 100%;
    border-collapse: collapse;
}

#keops-app .data-grid thead {
    border-top: 1px solid #DDD;
    border-bottom: 2px solid #DDD;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #f5f5f5;
    text-shadow: 0 1px 1px #fff;
    font-size: 12px;
}

#keops-app .grid-field {
    margin-top: 5px;

}

.text-field-span {
    font-style: italic;
    margin-left: 0;
    text-overflow: ellipsis;
    color: #646464;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 50px;
    font-size: 8pt;
}


#keops-app .multiplechoice a {
    cursor: pointer;
}

#keops-app .multiplechoice hr {
    margin: 6px 0 2px 0;
}

#keops-app .multiplechoice label {
    font-weight: bold;
}

#keops-app .multiplechoice-item {
    display: inline-block;
    border: 1px solid; border-radius: 4px;
	text-shadow: 0 1px 1px #fff;
    border: 1px solid #d9d9d9;
    padding: 0 4px 0 4px;
    background-color: #f5f5f5;
    margin: 10px 10px 0 0;
}

#keops-app .data-grid th {
    cursor: pointer;
}

#keops-app .data-grid td, #keops-app .grid-field td {
    cursor: pointer;
}

#keops-app .data-grid tr, #keops-app .grid-field tr {
    transition: background-color linear 0.2s;
}


#keops-app .form-view {
    margin: 16px 5px 0 10px;
}

#keops-app .form-view1 {
    margin: 16px 5px 0 10px;
}

.modal-body .form-view {
    margin: 0 -8px 0 0;
}

.form-view table {
    width: 100%;
    table-layout: auto;
}

.form-view1 table {
    width: 700px;
}

.form-view table td {
    vertical-align: top;
}

.modal-huge {
    width: 1000px;
}

.form-label-cell {
    width: auto;
    min-width: 100px;
    border-right: 1px solid #dddddd;
    padding-right: 8px;
}

.form-label-cell label {
    white-space: nowrap;
}

.form-field-cell, .form-filter-cell {
    width: 99%;
    padding: 0 20px 4px 10px;
}

.form-view > table {
    table-layout: fixed;
}

.form-filter-cell .select2-container {
    width: 100%;
}

.select2-container .select2-choice {
    height: 30px;
}

.select2-results .select2-highlighted {
    background: #d7d7d7 !important;
    color: #333333 !important;
}

.label-cell label {
    min-width: 120px;
}

.field-cell .normal-field {
    width: 196px;
    margin-bottom: 0;
}

.field-cell .normal-20c-field {
    width: 216px;
    margin-bottom: 0;
}

#keops-app .form-view > .tabbable, #keops-app .form-view1 > .tabbable {
    margin-top: 15px;
}

.nav > li {
    cursor: pointer;
}

#keops-app table {
    border-collapse: separate;
}

#keops-app .form-title span {

}

#keops-app .form-title .badge {
	text-shadow: 1px 1px 0 #7d7d7d;
    font-size: 11px;
    font-weight: normal;
}

#keops-app .form-grid-cell {
    padding-right: 10px;
}


#keops-app .form-data-info {
	text-shadow: 0 1px 1px #fff;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 0 4px 0 4px;
    background-color: #ececec;
}

#keops-app .input-prepend {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.input-append {
    margin-bottom: 0;
}

#keops-app .input-add-on {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 3px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    margin-right: -5px;
    vertical-align: top;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-timepicker-div select { width: 70px; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

input, textarea, select, .uneditable-input {
    margin-bottom: 0;
    color: #313131;
}

.menu-list a {
    cursor: pointer;
}

.list-group-item{color:#222;background-color:#fff;border:1px solid #e5e5e5}.list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.list-group-item .dropdown-toggle{display:none;padding-right:6px;padding-left:6px}a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus{font-weight:bold;color:#dd4b39;background-color:transparent;border-left:4px solid #dd4b39;border-color:#e5e5e5;border-left-color:#dd4b39}a.list-group-item.active .list-group-item-heading,a.list-group-item.active:hover .list-group-item-heading,a.list-group-item.active:focus .list-group-item-heading{color:inherit}a.list-group-item.active .list-group-item-text,a.list-group-item.active:hover .list-group-item-text,a.list-group-item.active:focus .list-group-item-text{font-weight:normal;color:#888}a.list-group-item.active:hover,a.list-group-item.active:focus{background-color:#eee}a.list-group-item:hover,li.list-group-item>a:hover,a.list-group-item:focus,li.list-group-item>a:focus{text-decoration:none;background-color:#eee}a.list-group-item{color:#555}a.list-group-item .list-group-item-heading{color:#333}li.list-group-item{padding:1px 15px;border:0 none;border-left:4px solid transparent}li.list-group-item>a{display:block;padding:4px 15px;margin-right:-15px;margin-left:-5px;color:#222}li.list-group-item.active{font-weight:bold;background-color:transparent;border-left-color:#dd4b39}li.list-group-item.active>a{color:#dd4b39}.list-group-header{display:block;padding:10px 30px 10px 15px;font-size:11px;font-weight:bold;line-height:1.4;color:#999;text-shadow:0 1px 0 rgba(255,255,255,0.5);text-transform:uppercase}li.list-group-header{padding:3px 15px}.list-group .list-group-header{margin-top:9px}.list-group-item:hover>a.dropdown-toggle,.list-group-item.open>a.dropdown-toggle,.collapse-caret.dropdown-toggle{display:inline-block}.list-group-collapse>.dropdown-menu{position:static;display:block;float:none;padding-top:0;margin:0;border:medium none;border-radius:0;box-shadow:none}.list-group-collapse>.dropdown-menu>li>a{position:relative;padding:5px 25px;margin-left:-5px;line-height:1.4}
