html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	font-size: 9pt;
	font-family: arial, helvetica, freesans, sans-serif;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.x-body {
	font-family: arial, helvetica, freesans, sans-serif;
}

table {
	font-size: 9pt;
}

label {
	font-size: 9pt;
	font-weight: bold;
}

input {
	padding: 2px 4px;
	border: 1px solid #cccccc;
	background: white;
}

a {
	color: #414141;
	text-decoration: none;
}

#main-header {
	padding: 0;
	border-width: 0px;
	color: #555;
	background-color: rgb(0, 113, 196);
	overflow: hidden;
}

#main-header ul {
	padding-left: 75px;
}

.main-header-item {
	list-style: none;
	float: left;
	margin-top: -8px;
}

.main-header-item a {
	padding: 5px 5px 0px 5px;
	font-size:11px;
	height: 26px;
	display: block;
	vertical-align: middle;
}

.dark-page {
	background-color: #F3F3F3;
}

.page {
	width: 100%;
}

.page .page-content {
	width: 900px;
	position: relative;
	margin: auto;
}

.content {
	width: 100%;
	height: 100%;
	vertical-align: top;
	background-color: white;
	overflow: auto;
}

.main-table {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.dialog {
	margin: auto;
	position: relative;
	padding: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background-color: white;
}

.dialog-title {
	font-weight: bold;
	font-size: 11pt;
	padding-bottom: 20px;
	color: gray;
}

.dialog-title p {
	font-weight: normal;
	font-size: 9pt;
}

.dialog-content {
	width: 100%;
	text-align: center;
}

.dialog-footer {
	text-align: right;
}

.error-p {
	color: #A60000;
}

#copyright {
	position: fixed;
	bottom: 0;
	left: 0;
	color: gray;
	background-color: #F0EEEE;
	height: 22px;
	padding: 3px 10px 0 10px;
	border: solid 1px rgb(214, 214, 214);
	background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	width: 220px;
	font-size: x-small;
}

.content .form {
}

.header {
	color: #555;
	border-bottom: 1px solid #d8d8d8;
	background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
	padding: 5px 10px 5px 10px;
	table-layout: fixed;
	min-height: 65px;
	width: 100%;
	border-spacing: 0;
	-webkit-box-shadow: 0 5px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px 0 #fff;
}

.toolbar-header {
	color: #555;
	border-bottom: 1px solid #d8d8d8;
	background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
	padding: 5px 10px 5px 10px;
}

.content .form .title {
	font-size: 16px;
}

.button {
	font-family: arial, helvetica, freesans, sans-serif;
	display: inline;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFFFFFF',endColorstr='#FFF1F1F1');
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(62%,#fefefe),color-stop(90%,#f6f6f6),color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,#fff 0,#fefefe 62%,#f6f6f6 90%,#f1f1f1 100%);
	background-image: -moz-linear-gradient(top,#fff 0,#fefefe 62%,#f6f6f6 90%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,#fff 0,#fefefe 62%,#f6f6f6 90%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,#fff 0,#fefefe 62%,#f6f6f6 90%,#f1f1f1 100%);
	background-image: linear-gradient(top,#fff 0,#fefefe 62%,#f6f6f6 90%,#f1f1f1 100%);
	border-radius: 2px;
	margin: 1px;
}

.app-button {
	margin-right: 8px;
	display:inline-block;
	color: white;
	font-size:13px;
	padding:3px 24px;
	text-decoration:none;
}
.app-button:hover {
	background-color: #eee;
	color: #555555;
	background-color: rgb(26, 74, 136);
	color: white;
}

.site-title {
	padding-top: 15px;
}

#orun-app-form-content {
	margin: 0;
	width: 960px;
	overflow: auto;
}

.x-form-text {
    font-size: 13px;
}

.x-form-item-label {
    color: #404040;
    font-weight: bold;
    font-family: arial;
}

.x-btn-default-small-icon .x-btn-inner, .x-btn-default-small-noicon .x-btn-inner {
    font-size: 13px;
}

.x-grid-row .x-grid-cell {
    font-size: 13px;
}

.x-grid-row-selected .x-grid-td {
    border-style: solid;
}

.x-grid-row-focused .x-grid-td {
    border-top: 1px solid #999999!important;
    border-bottom: 1px solid #999999!important;
}

.x-btn-default-small {
    border-radius: 4px;
    padding: 3px 9px 3px 9px;
    border-width: 1px;
    border-style: solid;
}

.x-btn-blue-button {
    border-radius: 4px;
    padding: 3px 9px 3px 9px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: #04c;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0088cc), color-stop(100%, #0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc,#0044cc);
    background-image: -moz-linear-gradient(top, #0088cc,#0044cc);
    background-image: -o-linear-gradient(top, #0088cc,#0044cc);
    background-image: linear-gradient(top, #0088cc,#0044cc);
}

.x-btn-red-button {
    border-radius: 4px;
    padding: 3px 9px 3px 9px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: #bd362f;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee5f5b), color-stop(100%, #bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b,#bd362f);
    background-image: -moz-linear-gradient(top, #ee5f5b,#bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b,#bd362f);
    background-image: linear-gradient(top, #ee5f5b,#bd362f);
}

.x-btn-blue-button .x-btn-inner, .x-btn-red-button .x-btn-inner {
    color: white;
    text-shadow: none;
}

.x-menu-item-text {
    font-size: 13px;
}

.x-boundlist-item-over {
	background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
    border-style: solid;
    border-radius: 3px;
}

.x-grid-cell-inner {
    line-height: 16px;
}

.app-header {
	background-color: rgb(252, 252, 252);
	/*border-bottom: solid 1px rgb(158, 158, 158);*/
	text-shadow: 1px 1px white;
}

#app-logo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

.site-name {
    font-family: arial;
	padding: 8px 0 5px 70px;
	margin: 0;
	margin-bottom: 2px;
	color: #414141;
	font-size: 11px;
	font-weight: bold;
    text-shadow: none;
}

#app-menu {
	border-bottom: solid 1px rgb(202, 202, 202);
}

#app-menu-body {
	font-size: 12px;
	background-color: rgb(252, 252, 252);
	background-image: -moz-linear-gradient(rgb(252, 252, 252), rgb(231, 231, 231));
	background-image: -webkit-linear-gradient(rgb(252, 252, 252), rgb(231, 231, 231));
	background-image: linear-gradient(rgb(252, 252, 252), rgb(231, 231, 231));
	background-repeat: repeat-x;
	text-shadow: 1px 1px 0 #fff;
	padding-left: 80px;
}

#app-menu-body ul {
	float: left;
	margin: 0;
	padding: 0;
	border-right: #F7F7F7 solid 1px;
	border-left: #D0D0D0 solid 1px;
	height: 39px;
	line-height: 39px;
}
#app-menu-body il {
	list-style: none;
	float: left;
	border-right: #D0D0D0 solid 1px;
	border-left: #F7F7F7 solid 1px;
}
#app-menu-body il.aHover {
	background: #F9F8F8;
}

#app-menu-body a {
	color: rgb(92, 92, 92);
	display: block;
	padding: 0 8px 0 8px;
	font-weight: bold;
	height: 39px;
}

#app-menu-body a:hover {
	background: #F9F8F8;
}

#app-menu a:active {
    backgroud: rgb(231, 231, 231);
}

.search-field {
	border-radius: 4px;
	padding-left: 10px;
}

input[type=text] {
    /*border-radius: 4px;*/
}

input[type=text]:focus {
    box-shadow: 0 0 5px #9ecaed;
}

.x-accordion-layout-ct {
	padding: 0;
}
