.btn {
    border-radius: 0!important;
}

.form-control {
    border-radius: 0!important;
}

.select2-container > a {
    border-radius: 0!important;
}

.select2-drop {
    border-radius: 0!important;
}

.alert {
    border-radius: 0!important;
}

.nav-tabs > li > a {
    border-radius: 0!important;
}
