{% extends "keops/base.html" %}

{% block translation_script %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% endblock %}
{% block startup_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/extjs/examples/ux/css/ItemSelector.css">
    <script src="{{ STATIC_URL }}keops/js/forms.js"></script>
    <script src="{{ STATIC_URL }}keops/js/controls.js"></script>
    <script src="{{ STATIC_URL }}keops/js/datetimefield.js"></script>
<script>
Ext.Loader.setPath('Ext.ux', '/static/js/extjs/examples/ux');
(function() {
keops.siteName = '{{ site_name }}';
keops.menuName = '{{ menu.name }}';
keops.menu = {{ sub_menu|safe }};
keops.htmlMenu = "<ul>{% for item in main_menu %}<il><a href='../{{ item.pk }}'>{{ item.name }}</a></il>{% endfor %}</ul>";
})();
Ext.onReady(function() {
Ext.getCmp('app-menu').update(keops.htmlMenu);
});
Ext.require([
    'Ext.ux.form.SearchField',
    'Ext.ux.form.MultiSelect',
    'Ext.ux.form.ItemSelector'
]);
</script>
{% endblock %}
{% block content %}
<img src="/static/keops/images/logo.png" id="app-logo" />
{% endblock %}