<!DOCTYPE html>
<html ng-app="keopsApp" lang="{{ LANGUAGE_CODE }}')">
<head>
    <title>{{ company.name }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}keops/css/app.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}keops/css/forms.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}keops/css/animations.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.0.custom.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/select2/select2.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome-ie7.css">
    <![endif]-->
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="{{ STATIC_URL }}js/moment+langs.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.maskedinput.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.maskMoney.js"></script>
    <script src="{{ STATIC_URL }}js/select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular.js"></script>
    <script src="{{ STATIC_URL }}js/angular-route.js"></script>
    <script src="{{ STATIC_URL }}js/angular-sanitize.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular-animate.min.js"></script>
    <script src="{{ STATIC_URL }}js/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/ng-infinite-scroll.min.js"></script>
    <script src="{{ STATIC_URL }}js/select2/select2_locale_{{ LANGUAGE_CODE }}.js"></script>
    <script src="{{ STATIC_URL }}keops/js/components.js"></script>
    <script src="{{ STATIC_URL }}keops/js/app.js"></script>
    <script src="{{ STATIC_URL }}js/i18n/angular-locale_{{ LANGUAGE_CODE }}.js"></script>
    <script>
        moment.lang('{{ LANGUAGE_CODE }}');
    </script>
</head>
<body>
    <div id="keops-app">
        <nav class="navbar navbar-default navbar-keops" role="navigation"  style="padding-left: 200px;">
            <a href="/admin/"><img src="{{ STATIC_URL }}keops/images/logo.png" id="keops-app-logo" title="{{ company.name }}"></a>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="/accounts/logout/" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#accounts/password/change/?user={{ user.pk }}">{{ _('Change password')|capfirst }}</a></li>
                  <li><a href="/accounts/logout/">{{ _('Logout')|capfirst }}</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav">
                {% for m in app_menu %}
                <li {% if m.pk == menu.pk %}class="active"{% endif %}><a href='../{{ m.pk }}'>{{ m.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <table id="keops-app-table">
            <tr>
                <td id="keops-app-left-menu" ng-controller="MenuController">
                    <ul>
                        {% for m in menu.menu_set.all %}
                        {% if m.closed %}
                        <a class="menu-level-1" ng-click="closedMenuClick('{{ m.get_absolute_url }}')" style="cursor: pointer;">{{ m.name }}</a>
                        {% else %}
                        <il>{{ m.name }}</il>
                        {% endif %}
                            {% if not m.closed %}{% for sm in m.menu_set.all %}
                            <a ng-click="itemClick('{{ sm.get_absolute_url }}', {{ sm.dialog|lower|default:"false" }})">{{ sm.name }}</a>
                                {% if not sm.closed %}{% for sm2 in sm.menu_set.all %}
                                <a class="menu-level-3" ng-click="itemClick('{{ sm2.get_absolute_url }}', {{ sm.dialog|lower|default:"false" }})">{{ sm2.name }}</a>
                                    {% if not sm2.closed %}{% for sm3 in sm2.menu_set.all %}
                                    <a class="menu-level-4" ng-click="itemClick('{{ sm3.get_absolute_url }}', {{ sm.dialog|lower|default:"false" }})">{{ sm3.name }}</a>
                                    {% endfor %}{% endif %}
                                {% endfor %}{% endif %}
                            {% endfor %}{% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div ng-view></div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>