{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_static %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "keops/css/app.css" %}" />
{% endblock %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{{ request.session.company }}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
