{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 400px;">
    <div class="panel panel-primary" style="margin-top: 100px;">
        <div class="panel-heading">Login</div>
        {% block message %}{% endblock %}
        {% if form.errors %}
        <p>{{ _('Invalid user name/password! Please try again.') }}</p>
        {% endif %}
        <div class="panel-body">
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
                <table style="width: 100%;">
                <tr>
                    <td><input id="id_username" name="username" class="form-control input-sm" placeholder="{{ form.username.label }}"></td>
                </tr>
                <tr>
                    <td><input id="id_password" name="password" class="form-control input-sm" type="password" placeholder="{{ form.password.label }}"></td>
                </tr>
                    <tr>
                        <td style="padding-top: 10px;"><input style="float: right;" class="btn btn-sm btn-default" type="submit" value="Login" /></td>
                    </tr>
                </table>
                <input style="float: right;" type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}