{% extends "keops/forms/form_admin.html" %}
{% block header %}{{ _('change password')|capfirst }}{% endblock %}
{% block content %}
    <table>
        {% for field in form %}
        <tr>
            <td class="form-label-cell">{{ field.label_tag }}</td>
            <td class="form-field-cell"><input type="password" class="form-control input-sm" id="{{ field.auto_id }}" name="{{ field.name }}" required></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-sm btn-primary" value="{{ _('save')|capfirst }}">
            </td>
        </tr>
    </table>
{% endblock %}