{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} ng-app="keopsApp">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">

<!-- Additional -->
{% include "keops/additional.html" %}
<!-- END Additional -->

{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{{ STATIC_URL }}keops/css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{{ STATIC_URL }}keops/css/rtl.css{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% block bodyclass %}{{ bodyclass|default:"smart-style-0" }}{% endblock %}">

{% block page %}
<!-- Container -->
<header id="header">
    <div id="logo-group">
        <!-- PLACE YOUR LOGO HERE -->
         <span id="logo"><img alt="[COMPANYNAME]" src="{{ STATIC_URL }}img/logo.png"></span>
        <!-- END LOGO PLACEHOLDER -->

         <span class="activity-dropdown" id="activity"><i class="fa fa-user"></i><b class="badge"> 21</b></span>

        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->

        <div class="ajax-dropdown">
            [JUSTIFIED_BUTTONS]

            <div class="ajax-notifications custom-scroll">
               [DROPDOWN_CONTENT]
            </div><!-- end notification content -->

            <!-- footer: refresh area -->
             <span>Last updated on: 12/12/2013 9:43AM</span>
            <!-- end footer -->
        </div><!-- END AJAX-DROPDOWN -->

    </div><!-- projects dropdown -->

    <div id="project-context">
        <span class="label">{% trans "modules"|capfirst %}:</span>
        <span class="popover-trigger-element dropdown-toggle" data-toggle="dropdown" id="project-selector">{% trans "available apps"|capfirst %} <i class="fa fa-angle-down"></i></span>

        <!-- Suggestion: populate this list with fetch and push technique -->
        <ul class="dropdown-menu">
            <li><a>Test</a></li>
        </ul><!-- end dropdown-menu-->

    </div><!-- end projects dropdown -->
    <!-- pulled right: nav area -->


    <div class="pull-right">
        <!-- collapse menu button -->

        <div class="btn-header pull-right" id="hide-menu">
            <span>
                <a href="javascript:void(0);" title="{{ _("Collapse Menu") }}">
                    <i class="fa fa-reorder"></i>
                </a>
            </span>
        </div><!-- end collapse menu -->

        <!-- logout button -->

        <div class="btn-header transparent pull-right" id="logout">
            <span>
                <a data-logout-msg="You can improve your security further after logging out by closing this opened browser" href="login.html" title="{{ _("Log out") }}">
                    <i class="fa fa-sign-out"></i>
                </a>
            </span>
        </div><!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div class="btn-header transparent pull-right" id="search-mobile">
            <span><a href="javascript:void(0)" title="Search"></a></span>
        </div><!-- end search mobile button -->

        <!-- input: search field -->
        <form action="#ajax/search.html" class="header-search pull-right">
            <input id="search-fld" name="param" placeholder="{{ _("Find reports and more") }}" type="text">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>

        </form><!-- end input: search field -->

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
		    <span>
                <a href="javascript:void(0);" onclick="launchFullscreen(document.documentElement);" title="Full Screen">
                    <i class="fa fa-fullscreen"></i>
                </a>
            </span>
		</div><!-- end fullscreen button -->

        <div class="btn-header transparent pull-right" id="fullscreen">
            <span>
                <a href="javascript:void(0);" onclick="launchFullscreen(document.documentElement);" title="{{ _("Bookmark this page") }}">
                    <i class="fa fa-star-o"></i>
                </a>
            </span>
        </div>

        <!-- multiple lang dropdown : find all flags in the image folder -->
        <ul class="header-dropdown-list hidden-xs">
            <li class="">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ _("Favorites") }}</span> <i class="fa fa-angle-down"></i> </a>
                <ul class="dropdown-menu pull-right">
                </ul>
            </li>
        </ul><!-- end multiple lang -->

    </div><!-- end pulled right: nav area -->
</header><!-- END HEADER -->

<div id="main" role="main">

    <!-- RIBBON -->
<div id="ribbon">

				<span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Home</li><li>Dashboard</li>
				</ol>
				<!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->

    <div id="content">
    {% block content %}{% endblock %}
    </div><!-- END MAIN CONTENT -->

</div><!-- END MAIN PANEL -->


<aside id="left-panel">
    <!-- User info -->
    <div class="login-info">
        <span>
        <!-- User image size is adjusted inside CSS, it should stay as it -->
         <a href="javascript:void(0);" id="show-shortcut"><img alt="me"
        class="online" src="{{ STATIC_URL }}img/avatars/male.png">
        <span>{{ request.user }} <i class="fa fa-angle-down"></i></span></a></span>
    </div>
    <!-- end user info -->

    <nav>
        <ul>
            <li class="">
                <a href="ajax/dashboard.html" title="[MENUITEM TITLE]">
                    <span class="menu-item-parent">[MENUITEM]</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

{% endblock %}
<!-- END Container -->
</body>
</html>