{% extends "keops/base_site.html" %}
{% load i18n %}

{% block content %}
  <div id="content-main" ng-controller="FormController">
    <div class="row form-header">
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
        <h1 class="page-title txt-color-blueDark">
          <i class="fa fa-edit fa-fw "></i> {{ title|capfirst }}<span>&nbsp;&gt; Registro #1</span></h1>
        <div style="margin-top: 10px;">
          <button class="btn btn-primary">{% trans "create"|capfirst %}</button>
          <button class="btn btn-default">{% trans "actions"|capfirst %}</button>
        </div>
      </div>
      <div class="col-sm-5 text-right">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control" placeholder="{% trans "filter"|capfirst %}" type="text" aria-controls="dt_basic">
        </div>
        <div ng-show="!form.write" class="btn-group">
          <a class="btn btn-default" ng-click="form.prevPage()"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="btn btn-default" ng-click="form.nextPage()"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="btn-group" style="margin-top: 5px; margin-bottom: 5px;">
          <button class="btn btn-default"><i class="fa fa-edit fa-fw "></i></button>
          <button class="btn btn-default"><i class="fa fa-table fa-fw "></i></button>
        </div>
      </div>
        {% if help_text %}
        <div class="col-sm-12">
          <div class="well">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            {{ help_text }}
          </div>
        </div>
        {% endif %}
				</div>
        <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
          <header role="heading">
            <div class="jarviswidget-ctrls" role="menu">
            <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen">
              <i class="fa fa-resize-full "></i>
            </a>
            </div>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>{% trans "form"|capfirst %}</h2>

            <span class="jarviswidget-loader">
              <i class="fa fa-refresh fa-spin"></i>
            </span>
          </header>

          <!-- widget div-->
          <div role="content">

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">


    <form class="smart-form" {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" ng-init="form.initForm('{{ opts }}')" ng-submit="submit()">
  {% csrf_token %}
  {% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "keops/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}
          </div>
          <footer>
            <button type="submit" class="btn btn-primary">
              {% trans "save"|capfirst %}
            </button>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
