<table class="data-grid" infinite-scroll="list.nextPage('{{ model_name }}')" infinite-scroll-distance="1">
    <thead>
        <tr>
            {% for field in fields %}
            <th>{{ field.label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in list.items" ng-class-odd="'data-grid-row-odd'" ng-class-even="'data-grid-row-even'" ng-click="itemClick('action/{{ action.pk }}/form/', 'pk={% verbatim %}{{item.pk}}{% endverbatim %}', $index)">
            {% for field in list_display %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
<div ng-show="list.loading">{{ _('loading...')|capfirst }}</div>
