<div ng-controller="ListController">
<table style="width: 100%;">
    <tr>
        <td class="form-header">
            <table style="width: 100%; height: 70px">
                <tr>
                    <td class="form-title" style="width: 100%;"><b>{{ form.title|capfirst }}</b></td>
                    <td style="float: right; width: auto;">
                        <table>
                            <tr>
                                <td style="text-align: right" colspan="2">
                                    <input placeholder="{{ _("search")|capfirst }}" value="{{ query }}">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: bottom;">
                                    <label class="form-data-info">{% verbatim %}{{list.start}} / {{list.total}}{% endverbatim %}</label>
                                </td>
                                <td style="float: right;">
                                    <div class="btn-group" style="display: block">
                                        <a type="button" class="btn active">{{ _("list")|capfirst }}</a>
                                        <a type="button" class="btn" href="#{{ action.get_absolute_url }}form/">{{ _("form")|capfirst }}</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% include "keops/forms/grid.html" %}
</div>
