<div ng-controller="FormController" ng-init="form.initForm('{{ model_name }}')">
<table style="width: 100%;">
    <tr>
        <td class="form-head">
            <table style="width: 100%; height: 70px">
                <tr>
                    <td class="form-title">
                        <span>
                            <span style="display: inline-block; padding-right: 10px;"><b><a href="#action/{{ action.pk }}">{{ form.title|capfirst }}</a></b> / {% verbatim %}{{form.item.__str__}}{% endverbatim %}</span>
                            <label style="display: inline-block" class="form-data-info">{% verbatim %}{{form.start+1}} / {{form.total}}{% endverbatim %}</label>
                        </span>
                        <div style="height: 50px; position: relative;">
                            <div style="position: absolute; bottom: 0;">
                                <button type="button" ng-show="!form.write" class="btn btn-info" ng-click="form.write = true">{{ _('create')|capfirst }}</button>
                                <button type="button" ng-show="!form.write" class="btn" ng-click="form.write = true">{{ _('edit')|capfirst }}</button>
                                <button type="button" ng-show="form.write" class="btn btn-danger" ng-click="form.write = false">{{ _('save')|capfirst }}</button>
                                <button type="button" ng-show="form.write" class="btn" ng-click="form.write = false">{{ _('cancel')|capfirst }}</button>
                                <a style="margin-left: 20px;" ng-show="!form.write" class="btn" href="/report/autoreport/?model={{ model_name }}" target="_blank">{{ _('print')|capfirst }}</a>
                            </div>
                        </div>
                    </td>
                    <td style="width: 250px;">
                        <table style="float: right; height: 100%;">
                            <tr>
                                <td ng-show="!form.write" style="text-align: right; height: 100%;" colspan="2">
                                    <span style="cursor: pointer;" class="input-add-on" ng-click="search('{{ action.get_absolute_url }}list', 'query=' + searchField)">
                                        <i class="icon-search"></i>
                                    </span>
                                    <input class="input-prepend" placeholder="{{ _("search")|capfirst }}" ng-model="searchField" ng-enter="search('{{ action.get_absolute_url }}list', 'query=' + searchField)">
                                </td>
                            </tr>
                            <tr>
                                <td style="height: auto;">
                                    <div ng-show="!form.write" class="btn-group">
                                        <a class="btn" ng-click="form.prevPage()"><i class="icon-chevron-left"></i></a>
                                        <a class="btn" ng-click="form.nextPage()"><i class="icon-chevron-right"></i></a>
                                    </div>
                                </td>
                                <td style="float: right; width: auto; height: auto;">
                                    <div ng-show="!form.write" class="btn-group">
                                        <a class="btn" href="#{{ action.get_absolute_url }}list/" title="{{ _("list")|capfirst }}"><i class="icon-reorder"></i></a>
                                        <a class="btn active" title="{{ _("form")|capfirst }}"><i class="icon-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{ form_view|safe }}
</div>
