<div ng-controller="FormController" ng-init="form.nextPage('{{ model_name }}')">
<table style="width: 100%;">
    <tr>
        <td class="form-header">
            <table style="width: 100%; height: 70px">
                <tr>
                    <td class="form-title">
                        <b><a href="#action/{{ action.pk }}">{{ form.title|capfirst }}</a></b> / {% verbatim %}{{form.item.__str__}}{% endverbatim %}
                        <div style="height: 50px; position: relative;">
                            <div style="position: absolute; bottom: 0;">
                                <button type="button" ng-show="!form.write" class="btn btn-info" ng-click="form.write = true">{{ _('create')|capfirst }}</button>
                                <button type="button" ng-show="!form.write" class="btn" ng-click="form.write = true">{{ _('edit')|capfirst }}</button>
                                <button type="button" ng-show="form.write" class="btn btn-danger" ng-click="form.write = false">{{ _('save')|capfirst }}</button>
                                <button type="button" ng-show="form.write" class="btn" ng-click="form.write = false">{{ _('cancel')|capfirst }}</button>
                            </div>
                        </div>
                    </td>
                    <td style="width: 300px;">
                        <table style="float: right">
                            <tr>
                                <td ng-show="!form.write" style="text-align: right;" colspan="3">
                                    <input placeholder="{{ _("search")|capfirst }}" ng-model="searchField">
                                    <a style="margin-bottom: 9px;" class="btn" ng-click="search('action/{{ action.pk }}/', 'view_type=list&query=' + searchField)">&gt;</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: bottom;">
                                        <label class="form-data-info">{% verbatim %}{{form.start+1}} / {{form.total}}{% endverbatim %}</label>
                                </td>
                                <td style="padding-left: 10px;">
                                    <div ng-show="!form.write" class="btn-group">
                                        <button type="button" class="btn" ng-click="form.prevPage('{{ model_name }}')">&lt;</button>
                                        <button type="button" class="btn" ng-click="form.nextPage('{{ model_name }}')">&gt;</button>
                                    </div>
                                </td>
                                <td style="padding-left: 30px;">
                                    <div ng-show="!form.write" class="btn-group">
                                        <a type="button" class="btn" href="#{{ action.get_absolute_url }}list/">{{ _("list")|capfirst }}</a>
                                        <a type="button" class="btn active">{{ _("form")|capfirst }}</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{ form_view|safe }}
</div>
