<%inherit file="/admin/base.html"/>

<%block name="scripts">
<script>
$(function() {
$(".menu-toggle").click(function() {
	$(this).next().toggle();
	$(this).toggleClass("menu-opened");
});
});
</script>
<script src="${STATIC_URL}orun/js/app.js"></script>
</%block>
<%block name="page">
<table class="main-table">
	<tr><td class="site-name" colspan="2">
<span>PORTAL ELETRÔNICO DE SERVIÇOS
</span>
	</td>
</tr>
	<tr><td id="main-header" colspan="2">
<%block name="mainmenu"></%block>
	</td>
<tr>
<td id="left-menu">
<%block name="leftmenu"></%block>
</td>
<td id="content" class="content">
<%block name="content"></%block>
</td>
</tr>
</table>

	<span id="copyright">Desenvolvido por Katrid</span>
<img src="${STATIC_URL}orun/images/logo.png" style="position: absolute; left: 0; top: 0;" />
</%block>
<%block name="mainheader"></%block>
